body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url(http://orig10.deviantart.net/3663/f/2009/309/b/f/black_red_gradient_by_halaxega.png);
  background-size: cover;
}

header {
  padding: 20px 0;
  text-shadow: 0.25px 0.25px 0.25px #000000
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: white;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  color: #ffffff
}
section p {
  color: white;
  padding: 0 20px;
}
section h3 {
  color: white;
  padding: 0 20px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/11210503_824490670932290_3888880511799791795_n.jpg?oh=f95f011a91a655635f68cc91c9eb5c47&oe=5832C5E2);
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 600px;
  height: 400px;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
